<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
</head>
<body>
	<div class="one">
		<h1>Sign Up</h1>
		<form action="/signup" method="post">
			Email<br>
			<input type="email" name="input_email" placeholder="Enter your email id" autocomplete="on"><br>
			Password<br>
			<input type="password"  name="input_password" placeholder="Enter password" required><br>
			<input type="submit" value="Login">
		</form>
	</div>
	<style type="text/css">
	.one{text-align: center;vertical-align: middle;}
	</style>
</body>
</html>