<!DOCTYPE html>
<html>
<head>
	<title>Sign In</title>
</head>
<body>
	<div class="one">
		<h1>Sign In</h1>
		<form action="/signin" method="post">
			Email<br>
			<input type="email" name="input_email" placeholder="Enter your email id" autocomplete="on"><br>
			<input type="submit" value="next">
		</form>
	</div>
	<style type="text/css">
	.one{text-align: center;vertical-align: middle;}
	</style>
</body>
</html>